<!DOCTYPE html>

<html>
    <head>
        <title>Weather App</title>
        <meta charset="UTF-8">
        <link rel='stylesheet' href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        
        <p>{{errorMessage}}</p>

        {{>footer}}
    </body>
</html>